@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  cursor: pointer;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

@media (max-width: 1000px) {
  .stat-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
  }

  .stat-boxes > *{
    margin-top: 0;
  }

  .stats-bar{
    display: none;
  }
}
